#maindiv{
    background-image: url('~src/assets/images/customer.png');
       background-repeat: no-repeat;
       background-size: cover;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       margin: 0;
       padding: 0;
       
   }

//    .footer{
//     // align-items: centre;
//     padding-bottom: 250px;
//     margin-left:250px
//    }
   
   /*c-container {
    //position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-image: url('~src/assets/images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(px);
   }*/