<!--<div id="main">-->
<!--  <c-container>-->
<!--    <div id="" class="form">-->
<!--      <form (submit)="submitForm()">-->
<!--        <h3 class="text-center">Register New User</h3><br>-->
<!--        <label for="userType">Name Of Organisation:</label>-->
<!--        &lt;!&ndash;        <span cInputGroupText><svg cIcon name=""></svg></span>&ndash;&gt;-->
<!--        <input cFormControl placeholder=cIcon name="cilUser" type="text" [placeholder]="userOrg"-->
<!--               class="form-control"-->
<!--               [ngModelOptions]="{standalone: true}" [(ngModel)]="organisationName"/>-->
<!--        <label for="userType" class="mt-2">User Email:</label>-->
<!--        &lt;!&ndash;        <span cInputGroupText><svg cIcon name=""></svg></span>&ndash;&gt;-->
<!--        <input cFormControl placeholder=cIcon name="cilUser" type="email" placeholder="User Email" class="form-control"-->
<!--               [ngModelOptions]="{standalone: true}" [(ngModel)]="email"/>-->
<!--        <label for="userType" class="mt-2">Password:</label>-->
<!--        &lt;!&ndash;        <span cInputGroupText><svg cIcon name=""></svg></span>&ndash;&gt;-->
<!--        <input class="form-control" cFormControl placeholder=" Default Password" type="password"-->
<!--               [ngModelOptions]="{standalone: true}" [(ngModel)]="password"/>-->

<!--        <div class="form-group">-->
<!--          <label for="userType" class="mt-2">Role:</label>-->
<!--          <select class="form-control" id="userType" [(ngModel)]="role" cSelect name="userType">-->
<!--            <option value="user">User</option>-->
<!--            <option value="admin">Admin</option>-->
<!--            <option value="super" *ngIf="isSuper">Super</option>-->
<!--          </select>-->
<!--        </div>-->

<!--        <c-form-check class="mt-2 mb-3" sizing="lg" switch>-->
<!--          <input cFormCheckInput type="checkbox" [value]="isActive" [ngModelOptions]="{standalone: true}"-->
<!--                 name="isActive" [(ngModel)]="isActive"/>-->
<!--          <label cFormCheckLabel>Activate</label>-->
<!--        </c-form-check>-->


<!--        <button type="submit" class="submit-button" cButton-->
<!--                style="background-color: #2c3e56; color: white; width: 100%;">-->
<!--          Add-->
<!--        </button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </c-container>-->
<!--</div>-->

<div id="main">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8" sm="10" lg="6">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form (submit)="submitForm()">
                <h3 class="text-center">Register User Information</h3><br>
                <c-input-group class="mb-3">
                                        <span cInputGroupText>
                                            <svg cIcon name="cilPeople"></svg>
                                        </span>
                  <input cFormControl placeholder="Organisation Name"
                         [ngModelOptions]="{standalone: true}" name="organisationName"
                         [(ngModel)]="organisationName" disabled="true"/>
                </c-input-group>
                <c-input-group class="mb-3">
                                        <span cInputGroupText>
                                            <svg cIcon name="cilEnvelopeClosed"></svg>
                                        </span>
                  <input cFormControl placeholder="Login Email"
                         [ngModelOptions]="{standalone: true}" [(ngModel)]="email"
                         name="contactEmail"/>
                </c-input-group>
                <c-input-group class="mb-3">
                                        <span cInputGroupText>
                                            <svg cIcon name="cilLockLocked"></svg>
                                        </span>
                  <input cFormControl placeholder="Password" type="password"
                         [ngModelOptions]="{standalone: true}" [(ngModel)]="password"
                         name="contactEmail"/>
                </c-input-group>
                <c-input-group class="mb-3">
                                        <span cInputGroupText>
                                            <svg cIcon name="cilUser"></svg>
                                        </span>
                  <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                          name="stakeholderType" [(ngModel)]="role">
                    <option selected>Choose Role</option>
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                  </select>
                </c-input-group>
                <c-form-check class="mt-2 mb-3" sizing="lg" switch>
                  <input cFormCheckInput checked type="checkbox" [value]="isActive"
                         [ngModelOptions]="{standalone: true}" name="isActive"
                         [(ngModel)]="isActive"/>
                  <label cFormCheckLabel>Activate User</label>
                </c-form-check>

                <br><br>
                <c-row>
                  <c-col xs="6">
                    <button type="submit" cButton class="btn px-4"
                            style="background-color: #2c3e56; color: white; width: 100%;">
                      Add
                    </button>
                  </c-col>
                  <c-col xs="6">
                    <a routerLink="/base/manage-users" type="submit" cButton
                       class="btn px-4"
                       style="background-color: #cf2f4c; color: white; width: 100% ">
                      Cancel
                    </a>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>


